.about-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.about-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  box-shadow: 5px 5px 10px 0px #b9b9b9;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.about-navbar {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.79);
}
.about-left-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.about-burger-menu {
  display: none;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
}
.about-icon {
  width: 36px;
  height: 36px;
}
.about-links-container {
  width: 819px;
  display: flex;
  flex-direction: row;
}
.about-link {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.about-link01 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.about-link02 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.about-link03 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.about-link04 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.about-link05 {
  text-decoration: none;
}
.about-right-side {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100VH;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.about-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.about-image {
  width: 50px;
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
}
.about-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-icon2 {
  width: 24px;
  height: 24px;
}
.about-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-link06 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-link07 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-link08 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-link09 {
  text-decoration: none;
}
.about-hero {
  width: 100%;
  height: 128px;
  display: flex;
  align-items: center;
  padding-top: 36px;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: center;
}
.about-content-container {
  width: 100%;
  height: 115px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: center;
}
.about-heading {
  align-self: stretch;
  font-style: normal;
  text-align: center;
  font-weight: 800;
  border-color: rgba(0, 0, 0, 0);
  border-width: 1px;
  text-transform: capitalize;
}
.about-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.about-container2 {
  flex: 0 0 auto;
  width: auto;
  height: 526px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.about-content-container1 {
  width: 661px;
  height: 477px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: center;
}
.about-container3 {
  flex: 0 0 auto;
  width: 324px;
  height: 471px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-image1 {
  width: 293px;
  height: 407px;
  object-fit: cover;
}
.about-content-container2 {
  width: 100%;
  height: 158px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: center;
}
.about-link10 {
  text-decoration: underline;
}
.about-link11 {
  text-decoration: underline;
}
.about-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.about-footer {
  width: 100%;
  height: 321px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: 259px;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.about-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.about-icon4 {
  width: 24px;
  height: 24px;
}
.about-link12 {
  color: rgb(0, 0, 0);
  font-style: normal;
  font-weight: 400;
  text-transform: lowercase;
}
@media(max-width: 991px) {
  .about-hero {
    flex-direction: column-reverse;
  }
  .about-content-container {
    flex-direction: column-reverse;
  }
  .about-content-container1 {
    flex-direction: column-reverse;
  }
  .about-content-container2 {
    flex-direction: column-reverse;
  }
}
@media(max-width: 767px) {
  .about-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    background-color: var(--dl-color-gray-black);
  }
  .about-icon {
    fill: var(--dl-color-gray-white);
  }
  .about-links-container {
    display: none;
  }
}
@media(max-width: 479px) {
  .about-hero {
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .about-content-container {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .about-content-container1 {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .about-content-container2 {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
}
