.msc-projects-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.msc-projects-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  box-shadow: 5px 5px 10px 0px #b9b9b9;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.msc-projects-navbar {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.79);
}
.msc-projects-left-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.msc-projects-burger-menu {
  display: none;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
}
.msc-projects-icon {
  width: 36px;
  height: 36px;
}
.msc-projects-links-container {
  width: 819px;
  display: flex;
  flex-direction: row;
}
.msc-projects-link {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.msc-projects-link01 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.msc-projects-link02 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.msc-projects-link03 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.msc-projects-link04 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.msc-projects-link05 {
  text-decoration: none;
}
.msc-projects-right-side {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.msc-projects-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100VH;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.msc-projects-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.msc-projects-image {
  width: 50px;
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
}
.msc-projects-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.msc-projects-icon2 {
  width: 24px;
  height: 24px;
}
.msc-projects-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.msc-projects-link06 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.msc-projects-link07 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.msc-projects-link08 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.msc-projects-link09 {
  text-decoration: none;
}
.msc-projects-hero {
  width: 100%;
  height: 128px;
  display: flex;
  align-items: center;
  padding-top: 36px;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: center;
}
.msc-projects-content-container {
  width: 100%;
  height: 115px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: center;
}
.msc-projects-heading {
  align-self: stretch;
  font-style: normal;
  text-align: center;
  font-weight: 800;
  border-color: rgba(0, 0, 0, 0);
  border-width: 1px;
  text-transform: capitalize;
}
.msc-projects-container2 {
  width: auto;
  height: 121px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.msc-projects-content-container1 {
  width: 100%;
  height: 114px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: center;
}
.msc-projects-content-container2 {
  width: 100%;
  height: 69px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.msc-projects-heading1 {
  align-self: stretch;
  font-style: normal;
  text-align: center;
  font-weight: 800;
  border-color: rgba(0, 0, 0, 0);
  border-width: 1px;
  text-transform: capitalize;
}
.msc-projects-content-container3 {
  width: 100%;
  height: 51px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.msc-projects-container3 {
  width: 1147px;
  height: 632px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.msc-projects-container4 {
  width: 919px;
  align-self: flex-start;
}
.msc-projects-container5 {
  display: contents;
}
.msc-projects-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.msc-projects-footer {
  width: 100%;
  height: 321px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: 259px;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.msc-projects-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.msc-projects-icon4 {
  width: 24px;
  height: 24px;
}
.msc-projects-link10 {
  color: rgb(0, 0, 0);
  font-style: normal;
  font-weight: 400;
  text-transform: lowercase;
}
@media(max-width: 991px) {
  .msc-projects-hero {
    flex-direction: column-reverse;
  }
  .msc-projects-content-container {
    flex-direction: column-reverse;
  }
  .msc-projects-content-container1 {
    flex-direction: column-reverse;
  }
  .msc-projects-content-container2 {
    flex-direction: column-reverse;
  }
  .msc-projects-content-container3 {
    flex-direction: column-reverse;
  }
}
@media(max-width: 767px) {
  .msc-projects-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    background-color: var(--dl-color-gray-black);
  }
  .msc-projects-icon {
    fill: var(--dl-color-gray-white);
  }
  .msc-projects-links-container {
    display: none;
  }
}
@media(max-width: 479px) {
  .msc-projects-hero {
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .msc-projects-content-container {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .msc-projects-content-container1 {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .msc-projects-content-container2 {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .msc-projects-content-container3 {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
}
