.rrm-models3-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.rrm-models3-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  box-shadow: 5px 5px 10px 0px #b9b9b9;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.rrm-models3-navbar {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.79);
}
.rrm-models3-left-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.rrm-models3-burger-menu {
  display: none;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
}
.rrm-models3-icon {
  width: 36px;
  height: 36px;
}
.rrm-models3-links-container {
  width: 819px;
  display: flex;
  flex-direction: row;
}
.rrm-models3-link {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.rrm-models3-link01 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.rrm-models3-link02 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.rrm-models3-link03 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.rrm-models3-link04 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.rrm-models3-link05 {
  text-decoration: none;
}
.rrm-models3-right-side {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.rrm-models3-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100VH;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.rrm-models3-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.rrm-models3-image {
  width: 50px;
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
}
.rrm-models3-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.rrm-models3-icon2 {
  width: 24px;
  height: 24px;
}
.rrm-models3-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.rrm-models3-link06 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.rrm-models3-link07 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.rrm-models3-link08 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.rrm-models3-link09 {
  text-decoration: none;
}
.rrm-models3-hero {
  width: 100%;
  height: 128px;
  display: flex;
  align-items: center;
  padding-top: 36px;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: center;
}
.rrm-models3-content-container {
  width: 100%;
  height: 115px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: center;
}
.rrm-models3-heading {
  align-self: stretch;
  font-style: normal;
  text-align: center;
  font-weight: 800;
  border-color: rgba(0, 0, 0, 0);
  border-width: 1px;
  text-transform: capitalize;
}
.rrm-models3-content-container1 {
  width: 100%;
  height: 361px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: center;
}
.rrm-models3-link10 {
  text-decoration: underline;
}
.rrm-models3-content-container2 {
  width: 100%;
  height: 299px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: 13px;
  justify-content: flex-start;
}
.rrm-models3-container02 {
  width: 1077px;
  height: 261px;
}
.rrm-models3-container03 {
  display: contents;
}
.rrm-models3-content-container3 {
  width: 100%;
  height: 115px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: 13px;
  justify-content: center;
}
.rrm-models3-content-container4 {
  width: 100%;
  height: 827px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: flex-start;
}
.rrm-models3-container04 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.rrm-models3-container05 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.rrm-models3-text11 {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 0px;
}
.rrm-models3-link11 {
  text-decoration: underline;
}
.rrm-models3-container06 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.rrm-models3-container07 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.rrm-models3-text20 {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 0px;
}
.rrm-models3-link12 {
  text-decoration: underline;
}
.rrm-models3-container08 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.rrm-models3-container09 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.rrm-models3-text24 {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 0px;
}
.rrm-models3-link13 {
  text-decoration: underline;
}
.rrm-models3-container10 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.rrm-models3-container11 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.rrm-models3-text28 {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 0px;
}
.rrm-models3-link14 {
  text-decoration: underline;
}
.rrm-models3-container12 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.rrm-models3-container13 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.rrm-models3-text32 {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 0px;
}
.rrm-models3-link15 {
  text-decoration: underline;
}
.rrm-models3-container14 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.rrm-models3-container15 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.rrm-models3-text36 {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 0px;
}
.rrm-models3-link16 {
  text-decoration: underline;
}
.rrm-models3-link17 {
  text-decoration: underline;
}
.rrm-models3-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.rrm-models3-footer {
  width: 100%;
  height: 85px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: 21px;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.rrm-models3-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.rrm-models3-icon4 {
  width: 24px;
  height: 24px;
}
.rrm-models3-link18 {
  color: rgb(0, 0, 0);
  font-style: normal;
  font-weight: 400;
  text-transform: lowercase;
}
@media(max-width: 991px) {
  .rrm-models3-hero {
    flex-direction: column-reverse;
  }
  .rrm-models3-content-container {
    flex-direction: column-reverse;
  }
  .rrm-models3-content-container1 {
    flex-direction: column-reverse;
  }
  .rrm-models3-content-container2 {
    flex-direction: column-reverse;
  }
  .rrm-models3-content-container3 {
    flex-direction: column-reverse;
  }
  .rrm-models3-content-container4 {
    flex-direction: column-reverse;
  }
}
@media(max-width: 767px) {
  .rrm-models3-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    background-color: var(--dl-color-gray-black);
  }
  .rrm-models3-icon {
    fill: var(--dl-color-gray-white);
  }
  .rrm-models3-links-container {
    display: none;
  }
}
@media(max-width: 479px) {
  .rrm-models3-hero {
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .rrm-models3-content-container {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .rrm-models3-content-container1 {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .rrm-models3-content-container2 {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .rrm-models3-content-container3 {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .rrm-models3-content-container4 {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
}
